img {
    height: 150px;
    width: 10rem;
}

.product-btn {
    width: 60px;
    text-align: left;
}

.add-btn {
    width: 100px;
    align-self: center;
}

.card-text-price {
    color: rgb(247, 148, 36);
    margin: 10px 0;
}

.card-title {
    color: rgb(21, 34, 73);
    font-size: medium;
}

.tag {
    background-color: rgb(255, 252, 46);
    width: 22%;
}