.btn-primary{
    margin-right: 10px;

}

.card-title{
    color: blue;
}

.card-description{
    color: blueviolet;
}

input.ng-touched.ng-invalid {
    border:1px solid red;
}

ng-select.ng-touched.ng-invalid {
    border:1px solid red;
}