<!-- <div class="col-3">
    <app-product-filter></app-product-filter>
</div>
<div class="row card-group">
    <div class="col-md-2 col-sm-12" *ngFor="let p of products">
        <app-product-card [product]="p"></app-product-card>
    </div>
</div> -->


<div class="row">
    <div class="col-2">
        <app-product-filter [category]="category"></app-product-filter>
    </div>
    <div class="col">
        <div class="row card-group">
            <div class="col-md-2 col-sm-12" *ngFor="let p of filteredProducts">
                <app-product-card [product]="p"></app-product-card>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-3">
        <app-product-filter [category]="category"></app-product-filter>
    </div>
    <div class="col">
        <ng-container *ngFor="let p of filteredProducts; let i = index">
            <div class="col">
                <app-product-card [product]="p" [shopping-cart]="cart"></app-product-card>
            </div>
            <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </ng-container>
    </div>
</div> -->