@import "~@ng-select/ng-select/themes/default.theme.css";
.card {
    padding: 20px;
    margin: 20px 0;
    border-radius: 2px;
    z-index: 10;
    box-shadow: 0 2px 3px #3a393945;
    background-color: rgb(245, 244, 244);
    border-color: rgb(245, 244, 244);
}

.card-inner-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-primary {
    margin-right: 10px;
}

.card-title {
    color: blue;
}

.card-description {
    color: blueviolet;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

ng-select.ng-touched.ng-invalid {
    border: 1px solid red;
}