<!-- <button class="btn btn-light col-md-2" (click)="addCategory()">Add</button> -->

<!-- <div class="modal-body">
    <div class="container-fluid">
        <form novalidate>
            <div class="card">
                <div class="float-left">
                    <h5 class="text-info">New Category</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="d-block">
                            <input type="text" class="form-control" formControlName="positionTitle"
                                autocomplete="current-positionTitle" [placeholder]="'Enter title here'" required />
                        </label>
                    </div>
                </div>
                <div>
                    <div class="float-left">
                        <button class="btn btn-primary w-20" type="submit">
                            <span translate><i class="fas fa-plus"></i> Add </span>
                        </button>
                    </div>
                    <div class="float-right">
                        <button class="btn btn-secondary w-20" type="submit">
                            <span translate><i class="fa fa-arrow-left"></i> Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->